.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* ========== HEADER ========== */
.logo {
    font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        /* identical to box height */
        letter-spacing: 0.03em;
        color: #2196F3;
}
.logo-dark{
    color: #000;
}
.logo-light{
    color: #fff;
}

.menu-link{
    font-family: 'Roboto';
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    
        color: #212121;
}

.email{
    font-family: 'Roboto';
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    
        color: #757575;
}

.phone-number{
    font-family: 'Roboto';
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: #757575;
}

.menu-link:hover,
.menu-link:focus{
    color: #2196F3;
}

.email:hover,
.email:focus{
    color: #2196F3;
}

.phone-number:hover,
.phone-number:focus{
    color: #2196F3;
}
/* ========== STYDIO HERO ========== */
.hero-title{
    font-family: 'Roboto';
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
}

.stydio-hero{
    background: #2F303A;
}

.modal-btn{
    font-family: 'Roboto';
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        /* identical to box height, or 188% */
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        background: #2196F3;
        cursor: pointer;
}

/* ========== BENEFITS ========== */
.benefits{
    background: #E5E5E5;
}
.benefits-examples-title{
    font-family: 'Roboto';
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: #212121;
}

.benefits-examples-description{
    font-family: 'Roboto';
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        /* or 171% */
        letter-spacing: 0.03em;
        color: #757575;
}

/* ========== PORTFOLIO ========== */
.portfolio{
    background: #E5E5E5;
}
.portfolio-title{
    font-family: 'Roboto';
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #212121;
}
/* ==========OUR TEAM========== */
.employees-section{
    background: #F5F4FA;
}

.employees-card{
    background: #FFFFFF;
}

.employees-name{
    font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        /* identical to box height */
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #212121;
}

.employees-position{
    font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        /* identical to box height */
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #757575;
}

/* ========== FOOTER ========== */
.footer{
    background: #2F303A;
}

.footer-phone-number{
    font-family: 'Roboto';
    font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        /* or 171% */
    
        letter-spacing: 0.03em;
    
        color: rgba(255, 255, 255, 0.6);
}

.footer-email{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        /* or 171% */
    
        letter-spacing: 0.03em;
    
        color: rgba(255, 255, 255, 0.6);
}

.contact-list-link{
    font-family: 'Roboto';
    font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        /* or 171% */
        letter-spacing: 0.03em;
    
        color: #FFFFFF;
}

/* ========== PAGE2 ========== */
/* ========== HERO ========== */
.filters{
    background: #E5E5E5;
}

.filter-btn{
    border: none;
    font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        /* identical to box height, or 162% */
    
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #212121;
        background: #F5F4FA;
        cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus{
    color: #FFFFFF;
    background: #2196F3;
}

/* ========== OUR PROJECTS ========== */
.our-projects{
    background: #E5E5E5;
}

.projects-list-item{
    background: #FFFFFF;
}

.project-name{
    font-family: 'Roboto';
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        /* identical to box height, or 200% */
    
        letter-spacing: 0.06em;
    
        color: #212121;
}

.project-description{
    font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 1.87;
        /* identical to box height, or 188% */
    
        letter-spacing: 0.03em;
    
        color: #757575;
}